Navbar{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.811);
    position: fixed;
}
.nave-bar{
   background: #343a40;;
}
.container{
    display: flex;
    background: #343a40;
   padding: 20px 10px;
   justify-content: space-around;
   align-items: center;
   box-shadow: 0 0 5 black;
   width: 100%;
   color: white;
   /* position: fixed; */
}
@media (max-width:800px){
    .nave-bar{
        background:  #343a40;
     }}